<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @systemevent.Message %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @systemevent.Facility %>
</p>

<p>
  <strong>Fromhost:</strong>
  <%= @systemevent.FromHost %>
</p>

<p>
  <strong>Devicereportedtime:</strong>
  <%= @systemevent.DeviceReportedTime %>
</p>

<p>
  <strong>Receivedat:</strong>
  <%= @systemevent.ReceivedAt %>
</p>

<p>
  <strong>Infounitid:</strong>
  <%= @systemevent.InfoUnitID %>
</p>

<p>
  <strong>Syslogtag:</strong>
  <%= @systemevent.SysLogTag %>
</p>

<%= link_to 'Edit', edit_systemevent_path(@systemevent) %> |
<%= link_to 'Back', systemevents_path %>
