<p id="notice"><%= notice %></p>

<h1>Listing Logentries</h1>

<table>
  <thead>
    <tr>
      <th>Logfile</th>
      <th>Name</th>
      <th>Message</th>
      <th>Facility</th>
      <th>Priority</th>
      <th>Logged at</th>
      <th>Service</th>
      <th>Service</th>
      <th>Logentry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logentries.each do |logentry| %>
      <tr>
        <td><%= logentry.logfile %></td>
        <td><%= logentry.name %></td>
        <td><%= logentry.message %></td>
        <td><%= logentry.facility %></td>
        <td><%= logentry.priority %></td>
        <td><%= logentry.logged_at %></td>
        <td><%= logentry.service %></td>
        <td><%= logentry.service %></td>
        <td><%= logentry.logentry %></td>
        <td><%= link_to 'Show', logentry %></td>
        <td><%= link_to 'Edit', edit_logentry_path(logentry) %></td>
        <td><%= link_to 'Destroy', logentry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logentry', new_logentry_path %>
