<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @infrastructure.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @infrastructure.purpose %>
</p>

<p>
  <strong>Description:</strong>
  <%= @infrastructure.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @infrastructure.type %>
</p>

<p>
  <strong>Effectiveness:</strong>
  <%= @infrastructure.effectiveness %>
</p>

<p>
  <strong>Utilization:</strong>
  <%= @infrastructure.utilization %>
</p>

<p>
  <strong>Return on assets:</strong>
  <%= @infrastructure.return_on_assets %>
</p>

<p>
  <strong>Manhours per unit production:</strong>
  <%= @infrastructure.manhours_per_unit_production %>
</p>

<p>
  <strong>Revenue per employee:</strong>
  <%= @infrastructure.revenue_per_employee %>
</p>

<p>
  <strong>Organizational unit:</strong>
  <%= @infrastructure.organizational_unit %>
</p>

<p>
  <strong>Total klocs:</strong>
  <%= @infrastructure.total_klocs %>
</p>

<p>
  <strong>Klocs ytd:</strong>
  <%= @infrastructure.klocs_ytd %>
</p>

<p>
  <strong>Total manhours:</strong>
  <%= @infrastructure.total_manhours %>
</p>

<p>
  <strong>Manhours this month:</strong>
  <%= @infrastructure.manhours_this_month %>
</p>

<p>
  <strong>Manhours last month:</strong>
  <%= @infrastructure.manhours_last_month %>
</p>

<p>
  <strong>Average manhours:</strong>
  <%= @infrastructure.average_manhours %>
</p>

<p>
  <strong>Bugs this month:</strong>
  <%= @infrastructure.bugs_this_month %>
</p>

<p>
  <strong>Bugs last month:</strong>
  <%= @infrastructure.bugs_last_month %>
</p>

<p>
  <strong>Average bugs month:</strong>
  <%= @infrastructure.average_bugs_month %>
</p>

<p>
  <strong>Klocs this month:</strong>
  <%= @infrastructure.klocs_this_month %>
</p>

<p>
  <strong>Klocs last month:</strong>
  <%= @infrastructure.klocs_last_month %>
</p>

<p>
  <strong>Average klocs month:</strong>
  <%= @infrastructure.average_klocs_month %>
</p>

<p>
  <strong>Klocs per manhour:</strong>
  <%= @infrastructure.klocs_per_manhour %>
</p>

<p>
  <strong>Bugs per kloc:</strong>
  <%= @infrastructure.bugs_per_kloc %>
</p>

<p>
  <strong>Defect removal rate:</strong>
  <%= @infrastructure.defect_removal_rate %>
</p>

<p>
  <strong>Service:</strong>
  <%= @infrastructure.service %>
</p>

<p>
  <strong>Application:</strong>
  <%= @infrastructure.application %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @infrastructure.cluster %>
</p>

<p>
  <strong>User:</strong>
  <%= @infrastructure.user %>
</p>

<p>
  <strong>Criticality:</strong>
  <%= @infrastructure.criticality %>
</p>

<p>
  <strong>Network:</strong>
  <%= @infrastructure.network %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @infrastructure.admin %>
</p>

<p>
  <strong>Operations:</strong>
  <%= @infrastructure.operations %>
</p>

<%= link_to 'Edit', edit_infrastructure_path(@infrastructure) %> |
<%= link_to 'Back', infrastructures_path %>
