<%= form_for(@logfile) do |f| %>
  <% if @logfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logfile.errors.count, "error") %> prohibited this logfile from being saved:</h2>

      <ul>
      <% @logfile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :machine_id %><br>
    <%= f.text_field :machine_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :entries %><br>
    <%= f.number_field :entries %>
  </div>
  <div class="field">
    <%= f.label :entries_per_sec %><br>
    <%= f.text_field :entries_per_sec %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :basename %><br>
    <%= f.text_field :basename %>
  </div>
  <div class="field">
    <%= f.label :service %><br>
    <%= f.text_field :service %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.text_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :server_id %><br>
    <%= f.text_field :server_id %>
  </div>
  <div class="field">
    <%= f.label :criticality %><br>
    <%= f.number_field :criticality %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
