<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :eta %><br>
    <%= f.datetime_select :eta %>
  </div>
  <div class="field">
    <%= f.label :estimated_manhours %><br>
    <%= f.number_field :estimated_manhours %>
  </div>
  <div class="field">
    <%= f.label :total_manhours %><br>
    <%= f.number_field :total_manhours %>
  </div>
  <div class="field">
    <%= f.label :ratio_actual_manhours %><br>
    <%= f.text_field :ratio_actual_manhours %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :tasklist_id %><br>
    <%= f.text_field :tasklist_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
