<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @configuration.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @configuration.purpose %>
</p>

<p>
  <strong>Description:</strong>
  <%= @configuration.description %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @configuration.machine %>
</p>

<p>
  <strong>Server:</strong>
  <%= @configuration.server %>
</p>

<p>
  <strong>Application:</strong>
  <%= @configuration.application %>
</p>

<p>
  <strong>Service:</strong>
  <%= @configuration.service %>
</p>

<p>
  <strong>Config:</strong>
  <%= @configuration.config %>
</p>

<p>
  <strong>Alt config:</strong>
  <%= @configuration.alt_config %>
</p>

<p>
  <strong>Version:</strong>
  <%= @configuration.version %>
</p>

<p>
  <strong>Var:</strong>
  <%= @configuration.var %>
</p>

<p>
  <strong>Var2:</strong>
  <%= @configuration.var2 %>
</p>

<p>
  <strong>Var3:</strong>
  <%= @configuration.var3 %>
</p>

<p>
  <strong>Var4:</strong>
  <%= @configuration.var4 %>
</p>

<p>
  <strong>Var5:</strong>
  <%= @configuration.var5 %>
</p>

<p>
  <strong>Ivar:</strong>
  <%= @configuration.ivar %>
</p>

<p>
  <strong>Ivar2:</strong>
  <%= @configuration.ivar2 %>
</p>

<p>
  <strong>Ivar3:</strong>
  <%= @configuration.ivar3 %>
</p>

<p>
  <strong>Fvar:</strong>
  <%= @configuration.fvar %>
</p>

<p>
  <strong>Fvar2:</strong>
  <%= @configuration.fvar2 %>
</p>

<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
