 <div class="row">
 <div class="span4">


<h1>Manage <%=h @instance.human_name.capitalize %></h1>
<p>Manage the configuration and see basic information about your instance</p>
</div>

 <div class="span5">
<table class="table table-bordered table-condensed">
  <thead>
   <tr>
    <th><b><%=h @instance.human_name.capitalize %> Stats</b></th>
	<th>Day</th>
    <th>Week</th>

   </tr>
   </thead>



    <tbody>


  <tr>
	<td><i class="icon-retweet"></i> Total Traffic (mB)</td>
	<td><span class="badge badge-success">20134</span></td>
	<td><span class="badge badge-success">19482223</span></td>

	<tr>
	<td><i class="icon-ban-circle"></i> Bans</td>
	<td><span class="badge badge-error">6</span></td>
	<td><span class="badge badge-error">28</span></td>
	</tr>

 </tr>
 
  </tbody>
</table>
<br/>

<br/>


</div>
</div>


 <div class="row">
 <div class="span5">




<h2>Basic Information</h2>
<p>

  <b>Name:</b>
  <%=h @instance.human_name %>
</p>

<p>
  <b>Type:</b>
  <%=h @instance.instance_type %>
</p>

<p>
  <b>GUCID:</b>
  <%=h @instance.gucid %>
</p>
<p>
  <b>Description:</b>
  <%=h @instance.description %>
</p>

<p>
  <b>Belongs to Machine:</b>
  <%=h @machine.name %>
</p>

<p>
  <b>Host:</b>
  <%=h @machine.hostname %>
</p>

<p>
  <b>Last Seen:</b>
  <%=h @instance.alive %>
</p>


<%= link_to 'Back', {:action => 'index', :machine_id => @machine.id }, 
	:class => 'btn btn-primary' %>
<%= link_to 'Edit', {:controller => 'instances', 
		:action => 'edit', :machine_id => @machine.id }, :class => "btn btn-primary" %>


</div>

<div class="span4">

<h2>Downstream Configuration</h2> 


<p>
  <b>Log Location:</b>
  <%=h @conf.log_location %>
</p>

<p>
  <b>Error log Location:</b>
  <%=h @conf.error_log %>
</p>

<p>
  <b>Hosts.deny Location:</b>
  <%=h @conf.denyfile_location %>
</p>

<p>
	<b>Network Interface:</b>
	<%=h @conf.pcap_interface %>
</p>

<p>
	<b>Network Filter String:</b>
	<%=h @conf.pcap_filter %>
</p>

<p> 
	<b>Network Filter Log Location:</b>
	<%=h @conf.pcap_location %>
</p>


<p>
  <b>Retry:</b>
  <%=h @conf.retry %>
</p>

<p>
  <b>Updates Pending?:</b>
  <%=h @conf.update_flag  %>

</p>
<%= link_to 'Back', {:action => 'index', :machine_id => @machine.id }, 
	:class => 'btn btn-primary' %>
<%= link_to 'Edit', {:controller => 'confs', 
					 :action => 'edit', :instance_id => @instance.id,
					 :machine_id => @machine.id }, :class => "btn btn-primary" %>




</div>
</div>
