<%= form_for(@critlarm) do |f| %>
  <% if @critlarm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@critlarm.errors.count, "error") %> prohibited this critlarm from being saved:</h2>

      <ul>
      <% @critlarm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :pos_in_queque %><br>
    <%= f.text_field :pos_in_queque %>
  </div>
  <div class="field">
    <%= f.label :tied_to_ui_component %><br>
    <%= f.text_field :tied_to_ui_component %>
  </div>
  <div class="field">
    <%= f.label :populates_widget %><br>
    <%= f.number_field :populates_widget %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
