<p id="notice"><%= notice %></p>

<h1>Listing Critlarms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Heading</th>
      <th>Content</th>
      <th>Body</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Pos in queque</th>
      <th>Tied to ui component</th>
      <th>Populates widget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @critlarms.each do |critlarm| %>
      <tr>
        <td><%= critlarm.name %></td>
        <td><%= critlarm.heading %></td>
        <td><%= critlarm.content %></td>
        <td><%= critlarm.body %></td>
        <td><%= critlarm.source %></td>
        <td><%= critlarm.destination %></td>
        <td><%= critlarm.pos_in_queque %></td>
        <td><%= critlarm.tied_to_ui_component %></td>
        <td><%= critlarm.populates_widget %></td>
        <td><%= link_to 'Show', critlarm %></td>
        <td><%= link_to 'Edit', edit_critlarm_path(critlarm) %></td>
        <td><%= link_to 'Destroy', critlarm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critlarm', new_critlarm_path %>
