<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @girlog.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @girlog.desc %>
</p>

<p>
  <strong>Context:</strong>
  <%= @girlog.context %>
</p>

<p>
  <strong>Component:</strong>
  <%= @girlog.component %>
</p>

<p>
  <strong>Originator:</strong>
  <%= @girlog.originator %>
</p>

<p>
  <strong>Body:</strong>
  <%= @girlog.body %>
</p>

<p>
  <strong>Generated at:</strong>
  <%= @girlog.generated_at %>
</p>

<p>
  <strong>Application:</strong>
  <%= @girlog.application %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @girlog.facility %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @girlog.priority %>
</p>

<p>
  <strong>Criticality:</strong>
  <%= @girlog.criticality %>
</p>

<p>
  <strong>Error:</strong>
  <%= @girlog.error %>
</p>

<p>
  <strong>Error count:</strong>
  <%= @girlog.error_count %>
</p>

<p>
  <strong>Response time:</strong>
  <%= @girlog.response_time %>
</p>

<p>
  <strong>Latency:</strong>
  <%= @girlog.latency %>
</p>

<p>
  <strong>Db latency:</strong>
  <%= @girlog.db_latency %>
</p>

<p>
  <strong>Query time:</strong>
  <%= @girlog.query_time %>
</p>

<p>
  <strong>Query:</strong>
  <%= @girlog.query %>
</p>

<p>
  <strong>Rows count:</strong>
  <%= @girlog.rows_count %>
</p>

<p>
  <strong>Response code:</strong>
  <%= @girlog.response_code %>
</p>

<p>
  <strong>Http code:</strong>
  <%= @girlog.http_code %>
</p>

<p>
  <strong>Client:</strong>
  <%= @girlog.client %>
</p>

<p>
  <strong>User:</strong>
  <%= @girlog.user %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @girlog.hostname %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @girlog.pid %>
</p>

<p>
  <strong>Program:</strong>
  <%= @girlog.program %>
</p>

<%= link_to 'Edit', edit_girlog_path(@girlog) %> |
<%= link_to 'Back', girlogs_path %>
