<p id="notice"><%= notice %></p>

<h1>Listing Systemevents</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Facility</th>
      <th>Fromhost</th>
      <th>Devicereportedtime</th>
      <th>Receivedat</th>
      <th>Infounitid</th>
      <th>Syslogtag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @systemevents.each do |systemevent| %>
      <tr>
        <td><%= systemevent.Message %></td>
        <td><%= systemevent.Facility %></td>
        <td><%= systemevent.FromHost %></td>
        <td><%= systemevent.DeviceReportedTime %></td>
        <td><%= systemevent.ReceivedAt %></td>
        <td><%= systemevent.InfoUnitID %></td>
        <td><%= systemevent.SysLogTag %></td>
        <td><%= link_to 'Show', systemevent %></td>
        <td><%= link_to 'Edit', edit_systemevent_path(systemevent) %></td>
        <td><%= link_to 'Destroy', systemevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Systemevent', new_systemevent_path %>
