<%= form_for(@ip) do |f| %>
  <% if @ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ip.errors.count, "error") %> prohibited this ip from being saved:</h2>

      <ul>
      <% @ip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :hostname %><br>
    <%= f.number_field :hostname %>
  </div>
  <div class="field">
    <%= f.label :dns %><br>
    <%= f.text_field :dns %>
  </div>
  <div class="field">
    <%= f.label :isp %><br>
    <%= f.text_field :isp %>
  </div>
  <div class="field">
    <%= f.label :netblock %><br>
    <%= f.text_field :netblock %>
  </div>
  <div class="field">
    <%= f.label :subnet %><br>
    <%= f.text_field :subnet %>
  </div>
  <div class="field">
    <%= f.label :network_id %><br>
    <%= f.text_field :network_id %>
  </div>
  <div class="field">
    <%= f.label :reputation %><br>
    <%= f.number_field :reputation %>
  </div>
  <div class="field">
    <%= f.label :domainname_id %><br>
    <%= f.text_field :domainname_id %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.text_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :credibility_id %><br>
    <%= f.text_field :credibility_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
