<h1>TiTAN SuperCluster Status</h1>
<p>Up to the minute status of the TiTAN SuperCluster and tangential systems</p>
<h3>Status of This <% @appTitle %>  Host: <%= `hostname` %> </h3>
<p><b>Uptime</b></b><%= @uptime %></p>
<p>Disks: <%= @localDisks %></p>
<p>Memory: <%= @localMem %> </p>
<p>IP: <%= @localIp %></p>
<p>Listeners (<%= @localListenersCount %>): <%= @localListeners %></p>
<p>Net Connections: <%= @localNet %> </p>

