<%= form_for(@pid) do |f| %>
  <% if @pid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pid.errors.count, "error") %> prohibited this pid from being saved:</h2>

      <ul>
      <% @pid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pid %><br>
    <%= f.number_field :pid %>
  </div>
  <div class="field">
    <%= f.label :process %><br>
    <%= f.text_field :process %>
  </div>
  <div class="field">
    <%= f.label :filehandles %><br>
    <%= f.text_field :filehandles %>
  </div>
  <div class="field">
    <%= f.label :filehandle %><br>
    <%= f.number_field :filehandle %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :proctime %><br>
    <%= f.text_field :proctime %>
  </div>
  <div class="field">
    <%= f.label :walltime %><br>
    <%= f.text_field :walltime %>
  </div>
  <div class="field">
    <%= f.label :io %><br>
    <%= f.text_field :io %>
  </div>
  <div class="field">
    <%= f.label :netio %><br>
    <%= f.text_field :netio %>
  </div>
  <div class="field">
    <%= f.label :iowait %><br>
    <%= f.text_field :iowait %>
  </div>
  <div class="field">
    <%= f.label :memory %><br>
    <%= f.text_field :memory %>
  </div>
  <div class="field">
    <%= f.label :machine_id %><br>
    <%= f.text_field :machine_id %>
  </div>
  <div class="field">
    <%= f.label :server_id %><br>
    <%= f.text_field :server_id %>
  </div>
  <div class="field">
    <%= f.label :node_id %><br>
    <%= f.text_field :node_id %>
  </div>
  <div class="field">
    <%= f.label :network_id %><br>
    <%= f.text_field :network_id %>
  </div>
  <div class="field">
    <%= f.label :manager_id %><br>
    <%= f.text_field :manager_id %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br>
    <%= f.text_field :application_id %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.text_field :service_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
