<p id="notice"><%= notice %></p>

<h1>Listing Pids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pid</th>
      <th>Process</th>
      <th>Filehandles</th>
      <th>Filehandle</th>
      <th>Path</th>
      <th>Proctime</th>
      <th>Walltime</th>
      <th>Io</th>
      <th>Netio</th>
      <th>Iowait</th>
      <th>Memory</th>
      <th>Machine</th>
      <th>Server</th>
      <th>Node</th>
      <th>Network</th>
      <th>Manager</th>
      <th>Application</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pids.each do |pid| %>
      <tr>
        <td><%= pid.name %></td>
        <td><%= pid.pid %></td>
        <td><%= pid.process %></td>
        <td><%= pid.filehandles %></td>
        <td><%= pid.filehandle %></td>
        <td><%= pid.path %></td>
        <td><%= pid.proctime %></td>
        <td><%= pid.walltime %></td>
        <td><%= pid.io %></td>
        <td><%= pid.netio %></td>
        <td><%= pid.iowait %></td>
        <td><%= pid.memory %></td>
        <td><%= pid.machine %></td>
        <td><%= pid.server %></td>
        <td><%= pid.node %></td>
        <td><%= pid.network %></td>
        <td><%= pid.manager %></td>
        <td><%= pid.application %></td>
        <td><%= pid.service %></td>
        <td><%= link_to 'Show', pid %></td>
        <td><%= link_to 'Edit', edit_pid_path(pid) %></td>
        <td><%= link_to 'Destroy', pid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pid', new_pid_path %>
