<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pid.name %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @pid.pid %>
</p>

<p>
  <strong>Process:</strong>
  <%= @pid.process %>
</p>

<p>
  <strong>Filehandles:</strong>
  <%= @pid.filehandles %>
</p>

<p>
  <strong>Filehandle:</strong>
  <%= @pid.filehandle %>
</p>

<p>
  <strong>Path:</strong>
  <%= @pid.path %>
</p>

<p>
  <strong>Proctime:</strong>
  <%= @pid.proctime %>
</p>

<p>
  <strong>Walltime:</strong>
  <%= @pid.walltime %>
</p>

<p>
  <strong>Io:</strong>
  <%= @pid.io %>
</p>

<p>
  <strong>Netio:</strong>
  <%= @pid.netio %>
</p>

<p>
  <strong>Iowait:</strong>
  <%= @pid.iowait %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @pid.memory %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @pid.machine %>
</p>

<p>
  <strong>Server:</strong>
  <%= @pid.server %>
</p>

<p>
  <strong>Node:</strong>
  <%= @pid.node %>
</p>

<p>
  <strong>Network:</strong>
  <%= @pid.network %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @pid.manager %>
</p>

<p>
  <strong>Application:</strong>
  <%= @pid.application %>
</p>

<p>
  <strong>Service:</strong>
  <%= @pid.service %>
</p>

<%= link_to 'Edit', edit_pid_path(@pid) %> |
<%= link_to 'Back', pids_path %>
