<p id="notice"><%= notice %></p>

<h1>Listing Databases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hostname</th>
      <th>Cluster</th>
      <th>Type</th>
      <th>Dbserver</th>
      <th>Db</th>
      <th>Count</th>
      <th>User</th>
      <th>Password</th>
      <th>Connection string</th>
      <th>Server</th>
      <th>Machine</th>
      <th>Cluster</th>
      <th>Service</th>
      <th>Application</th>
      <th>Infrastructure</th>
      <th>Status</th>
      <th>Purpose</th>
      <th>Criticality</th>
      <th>Priority</th>
      <th>Network</th>
      <th>Devops</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @databases.each do |database| %>
      <tr>
        <td><%= database.name %></td>
        <td><%= database.hostname %></td>
        <td><%= database.cluster %></td>
        <td><%= database.type %></td>
        <td><%= database.dbserver %></td>
        <td><%= database.db %></td>
        <td><%= database.count %></td>
        <td><%= database.user %></td>
        <td><%= database.password %></td>
        <td><%= database.connection_string %></td>
        <td><%= database.server %></td>
        <td><%= database.machine %></td>
        <td><%= database.cluster %></td>
        <td><%= database.service %></td>
        <td><%= database.application %></td>
        <td><%= database.infrastructure %></td>
        <td><%= database.status %></td>
        <td><%= database.purpose %></td>
        <td><%= database.criticality %></td>
        <td><%= database.priority %></td>
        <td><%= database.network %></td>
        <td><%= database.devops %></td>
        <td><%= link_to 'Show', database %></td>
        <td><%= link_to 'Edit', edit_database_path(database) %></td>
        <td><%= link_to 'Destroy', database, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Database', new_database_path %>
