<%= form_for(@pubserver) do |f| %>
  <% if @pubserver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pubserver.errors.count, "error") %> prohibited this pubserver from being saved:</h2>

      <ul>
      <% @pubserver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :hostname %><br>
    <%= f.text_field :hostname %>
  </div>
  <div class="field">
    <%= f.label :os %><br>
    <%= f.text_field :os %>
  </div>
  <div class="field">
    <%= f.label :dns %><br>
    <%= f.text_field :dns %>
  </div>
  <div class="field">
    <%= f.label :whois %><br>
    <%= f.text_field :whois %>
  </div>
  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.text_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :reputation_id %><br>
    <%= f.text_field :reputation_id %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :applications %><br>
    <%= f.text_field :applications %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br>
    <%= f.text_field :application_id %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.text_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :app_version %><br>
    <%= f.text_field :app_version %>
  </div>
  <div class="field">
    <%= f.label :webserver %><br>
    <%= f.text_field :webserver %>
  </div>
  <div class="field">
    <%= f.label :webserver_id %><br>
    <%= f.text_field :webserver_id %>
  </div>
  <div class="field">
    <%= f.label :webserver_version %><br>
    <%= f.text_field :webserver_version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
