<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @network.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @network.purpose %>
</p>

<p>
  <strong>Type:</strong>
  <%= @network.type %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @network.speed %>
</p>

<p>
  <strong>Infrastructure:</strong>
  <%= @network.infrastructure %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @network.ownership %>
</p>

<p>
  <strong>Netmask:</strong>
  <%= @network.netmask %>
</p>

<p>
  <strong>Network:</strong>
  <%= @network.network %>
</p>

<p>
  <strong>Subnet:</strong>
  <%= @network.subnet %>
</p>

<p>
  <strong>Usernames:</strong>
  <%= @network.usernames %>
</p>

<p>
  <strong>Total nodes:</strong>
  <%= @network.total_nodes %>
</p>

<p>
  <strong>Nodes alive:</strong>
  <%= @network.nodes_alive %>
</p>

<p>
  <strong>Average latency:</strong>
  <%= @network.average_latency %>
</p>

<p>
  <strong>Health:</strong>
  <%= @network.health %>
</p>

<p>
  <strong>Netadmin:</strong>
  <%= @network.netadmin %>
</p>

<p>
  <strong>User:</strong>
  <%= @network.user %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @network.cluster %>
</p>

<p>
  <strong>Gateway ip:</strong>
  <%= @network.gateway_ip %>
</p>

<p>
  <strong>Ping:</strong>
  <%= @network.ping %>
</p>

<p>
  <strong>Hops:</strong>
  <%= @network.hops %>
</p>

<p>
  <strong>Latency:</strong>
  <%= @network.latency %>
</p>

<p>
  <strong>Router ip:</strong>
  <%= @network.router_ip %>
</p>

<p>
  <strong>Broadcast:</strong>
  <%= @network.broadcast %>
</p>

<p>
  <strong>Address space:</strong>
  <%= @network.address_space %>
</p>

<p>
  <strong>Dns:</strong>
  <%= @network.dns %>
</p>

<p>
  <strong>Ptr record:</strong>
  <%= @network.ptr_record %>
</p>

<p>
  <strong>A record:</strong>
  <%= @network.a_record %>
</p>

<p>
  <strong>Reverse address:</strong>
  <%= @network.reverse_address %>
</p>

<p>
  <strong>Network box:</strong>
  <%= @network.network_box %>
</p>

<p>
  <strong>Operations:</strong>
  <%= @network.operations %>
</p>

<p>
  <strong>Wifi ssid:</strong>
  <%= @network.wifi_ssid %>
</p>

<p>
  <strong>Wan ip:</strong>
  <%= @network.wan_ip %>
</p>

<p>
  <strong>Lan ip:</strong>
  <%= @network.lan_ip %>
</p>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
