<p id="notice"><%= notice %></p>

<h1>Listing Configurations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th>Description</th>
      <th>Machine</th>
      <th>Server</th>
      <th>Application</th>
      <th>Service</th>
      <th>Config</th>
      <th>Alt config</th>
      <th>Version</th>
      <th>Var</th>
      <th>Var2</th>
      <th>Var3</th>
      <th>Var4</th>
      <th>Var5</th>
      <th>Ivar</th>
      <th>Ivar2</th>
      <th>Ivar3</th>
      <th>Fvar</th>
      <th>Fvar2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configurations.each do |configuration| %>
      <tr>
        <td><%= configuration.name %></td>
        <td><%= configuration.purpose %></td>
        <td><%= configuration.description %></td>
        <td><%= configuration.machine %></td>
        <td><%= configuration.server %></td>
        <td><%= configuration.application %></td>
        <td><%= configuration.service %></td>
        <td><%= configuration.config %></td>
        <td><%= configuration.alt_config %></td>
        <td><%= configuration.version %></td>
        <td><%= configuration.var %></td>
        <td><%= configuration.var2 %></td>
        <td><%= configuration.var3 %></td>
        <td><%= configuration.var4 %></td>
        <td><%= configuration.var5 %></td>
        <td><%= configuration.ivar %></td>
        <td><%= configuration.ivar2 %></td>
        <td><%= configuration.ivar3 %></td>
        <td><%= configuration.fvar %></td>
        <td><%= configuration.fvar2 %></td>
        <td><%= link_to 'Show', configuration %></td>
        <td><%= link_to 'Edit', edit_configuration_path(configuration) %></td>
        <td><%= link_to 'Destroy', configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Configuration', new_configuration_path %>
