<p id="notice"><%= notice %></p>

<h1>Listing Words</h1>

<table>
  <thead>
    <tr>
      <th>Stem</th>
      <th>Email</th>
      <th>Encrypted password</th>
      <th>Reset password token</th>
      <th>Reset password sent at</th>
      <th>Remember created at</th>
      <th>Sign in count</th>
      <th>Current sign in at</th>
      <th>Last sign in at</th>
      <th>Current sign in ip</th>
      <th>Last sign in ip</th>
      <th>Name</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.stem %></td>
        <td><%= word.email %></td>
        <td><%= word.encrypted_password %></td>
        <td><%= word.reset_password_token %></td>
        <td><%= word.reset_password_sent_at %></td>
        <td><%= word.remember_created_at %></td>
        <td><%= word.sign_in_count %></td>
        <td><%= word.current_sign_in_at %></td>
        <td><%= word.last_sign_in_at %></td>
        <td><%= word.current_sign_in_ip %></td>
        <td><%= word.last_sign_in_ip %></td>
        <td><%= word.name %></td>
        <td><%= word.role %></td>
        <td><%= link_to 'Show', word %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path %>
