<div class="form">
  <%= form_tag do %>
    <fieldset>
      <legend>Change Password</legend>
      <div>
	<%= hidden_field_tag :name, params[:password], :value => @user.name %>
      </div>

      <div>
        <label for="password">Current Password:</label>
        <%= password_field_tag :password, params[:password] %>
      </div>

      <div>
	<label for="password">New Password:</label>
	<%= password_field_tag :new_password, params[:new_password] %>
      </div>

      <div>
	<label for="password">Verify New Password:</label>
	<%= password_field_tag :password_confirmation, params[:password_confirmation] %>
      </div>
  
      <div>
        <%= submit_tag "Change Password", :class => 'btn' %>
      </div>
    </fieldset>
  <% end %>
</div>
