<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>
<li>
  <h4>Search Projects By Name</h4>
  <p>Search Servers By Name or Other Characteristics (TODO)</p>
  <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name contains" %>
        <%= f.text_field :name_cont %>
      </div>
      <div class="actions btn btn-medium"><%= f.submit "Search" %></div>
  <% end %>
</li>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Details</th>
      <th>Infrastructure</th>


      <th>Application</th>
      <th>Projected completion</th>
      <th>Username</th>
      <th>User</th>
      <th>Member</th>
      <th>Manhours</th>
      <th>Eta</th>
      <th>Completion percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.details %></td>
        <td><%= project.infrastructure %></td>



        <td><%= project.projected_completion %></td>

        <td><%= project.user_id %></td>
        <td><%= project.manhours %></td>
        <td><%= project.eta %></td>
        <td><%= project.completion_percentage %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
