
<h1>Listing Instances on Machine <%= @machine.name %></h1>

<% if @instances.count == 0 %>
  <br /><p>No instances have been added yet! Please add a new instance to start monitoring a service.</p>
<% else %>
<table>
  <tr>
  </tr>
<% @instances.each do |instance| %>
  <tr>
	<td><%= instance.gucid %></td>
    <td><%= link_to 'Show', :controller => 'instances', :action => 'show',
					:id => instance.id, 
					:machine_id => @machine.id  %></td>
    <td><%= link_to 'Edit', :controller => 'instances', :action => 'edit',
					:id => instance.id, 
					:machine_id => @machine.id %></td>
    <td><%= link_to 'Destroy', :controller => 'instances', :action => 'destroy',
					:id => instance.id, :confirm => 'Are you sure?',
					:machine_id => @machine.id,  :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />



