<p id="notice"><%= notice %></p>

<h1>Listing Encryptedfiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Server</th>
      <th>Path</th>
      <th>Vfilesystem</th>
      <th>Privkey</th>
      <th>Pubkey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encryptedfiles.each do |encryptedfile| %>
      <tr>
        <td><%= encryptedfile.name %></td>
        <td><%= encryptedfile.user %></td>
        <td><%= encryptedfile.server %></td>
        <td><%= encryptedfile.path %></td>
        <td><%= encryptedfile.vfilesystem %></td>
        <td><%= encryptedfile.privkey %></td>
        <td><%= encryptedfile.pubkey %></td>
        <td><%= link_to 'Show', encryptedfile %></td>
        <td><%= link_to 'Edit', edit_encryptedfile_path(encryptedfile) %></td>
        <td><%= link_to 'Destroy', encryptedfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encryptedfile', new_encryptedfile_path %>
