





 <div class="row">
 <div class="span4">


<h1>Manage Instances</h1>
<p>Add and manage instances to monitor different services on your machine for malicious activity.</p>
</div>

 <div class="span5">
<table class="table table-bordered table-condensed">
  <thead>
   <tr>
    <th><b><%=h @machine.name.capitalize %> Stats</b></th>
	<th>Day</th>
    <th>Week</th>

   </tr>
   </thead>



    <tbody>


  <tr>
	<td><i class="icon-retweet"></i> Total Traffic (mB)</td>
	<td><span class="badge badge-success">20134</span></td>
	<td><span class="badge badge-success">19482223</span></td>

	<tr>
	<td><i class="icon-ban-circle"></i> Bans</td>
	<td><span class="badge badge-error">6</span></td>
	<td><span class="badge badge-error">28</span></td>
	</tr>



 </tr>
 
  </tbody>
</table>
<br/>

<br/>


</div>
</div>


 <div class="row">
 <div class="span9">

<h4>  <b>Instances for <%=h @machine.name.capitalize %></b></h4>
 <table class="table table-striped">
  <thead>
   <tr>
    <th>Name</th>
	<th>Description</th>
    <th>Type</th>
	<th>Subscribed</th>
	<th>Installed</th>
	<th>Aggregate</th>
   </tr>
   </thead>



    <tbody>


<% for instance in @instances %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><i class="icon-random"></i> <%=h instance.human_name %></td>
    <td><%=h instance.description %></td>
    <td><%=h instance.instance_type %></td>
    <td><%=h instance.subscribed %></td>
    <td><%=h instance.installed %></td>
	<td><%=h instance.aggregation %></td>

	
    <td>
	
		<%= link_to 'Show', {:controller => 'instances', 
			:action => 'show', :id => instance.id,
			:machine_id => @machine.id }, :class => 'btn btn-primary' %>
	
	</td>
	

	
    <td>
		<%= link_to 'Edit',  {:controller => 'instances', 					:action => 'edit', 
			:id => instance.id, :machine_id => @machine.id },
			:class => 'btn btn-warning' %>
	</td>
	

	
    <td>
		<%= button_to 'Destroy', {action: 'destroy', 
				id: instance.id, machine_id: @machine.id}, 
				confirm: 'Are you sure?', method: :delete, 
				class: 'btn btn-danger'
				 %>
	</td>


  </tr>
  <% end %>
  </tbody>
</table>

				

        </div><!--/span-->
      </div><!--/row-->

<br />


<%= will_paginate @instances, :container => false  %>

<br />

<%= link_to 'New Instance', {:action => 'new', :machine_id => @machine.id},  :class => 'btn' %>

<%= link_to 'Console', {:controller => 'console', :action => 'open'},  
		:class => 'btn' %>


<%= link_to 'Back', machines_path, # {:controller => 'machines', :action => 'index'},  
		:class => 'btn' %>



 <div class="row">
 <div class="span7 offset1">

<div id="terminal_container"></div>


<script type="text/javascript">
$('#terminal_container').height('250px');
$('#terminal_container').terminal('/console/terminal/', {custom_prompt : "[Esh]$ ", hello_message : 'Type help for a command listing.'});
</script>


        </div><!--/span-->
      </div><!--/row-->



