<h3>Welcome to <%= @appTitle %></h3>

<p>There are currently <%= User.count %> users registered.</p>
<p><%= link_to 'Sign In', users_path %>  if you are a registered user</p>
<p><%= link_to 'Sign Up', '/users/signup' %>  if you are a registered user</p>


<% if user_signed_in? %>
    <div class="box box-solid box-primary collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">User Login Info</h3>
        <div class="box-tools pull-right">
          <!-- Buttons, labels, and many other things can be placed here! -->
          <!-- Here is a label for example -->

          <span class="label label-primary">User Email: <%=  current_user.email %> | <%= link_to 'Edit Profile', edit_user_registration_path %> | <%= link_to 'Logout', destroy_user_session_path, method: :delete %></span>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">
       You are currently logged in as <%= current_user.email %>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <small>Top Level Of Hierarchy</small>
      </div><!-- box-footer -->
    </div><!-- /.box -->


<% else %>

<% end %>
