<%= form_for(@rejex) do |f| %>
  <% if @rejex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rejex.errors.count, "error") %> prohibited this rejex from being saved:</h2>

      <ul>
      <% @rejex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :flag %><br>
    <%= f.text_field :flag %>
  </div>
  <div class="field">
    <%= f.label :flag2 %><br>
    <%= f.text_field :flag2 %>
  </div>
  <div class="field">
    <%= f.label :flag3 %><br>
    <%= f.text_field :flag3 %>
  </div>
  <div class="field">
    <%= f.label :flag4 %><br>
    <%= f.text_field :flag4 %>
  </div>
  <div class="field">
    <%= f.label :flag5 %><br>
    <%= f.text_field :flag5 %>
  </div>
  <div class="field">
    <%= f.label :flag6 %><br>
    <%= f.text_field :flag6 %>
  </div>
  <div class="field">
    <%= f.label :pattern %><br>
    <%= f.text_field :pattern %>
  </div>
  <div class="field">
    <%= f.label :pattern2 %><br>
    <%= f.text_field :pattern2 %>
  </div>
  <div class="field">
    <%= f.label :substitute %><br>
    <%= f.text_field :substitute %>
  </div>
  <div class="field">
    <%= f.label :return_field %><br>
    <%= f.text_field :return_field %>
  </div>
  <div class="field">
    <%= f.label :return_field1 %><br>
    <%= f.text_field :return_field1 %>
  </div>
  <div class="field">
    <%= f.label :return_field2 %><br>
    <%= f.text_field :return_field2 %>
  </div>
  <div class="field">
    <%= f.label :return_field3 %><br>
    <%= f.text_field :return_field3 %>
  </div>
  <div class="field">
    <%= f.label :return_field4 %><br>
    <%= f.text_field :return_field4 %>
  </div>
  <div class="field">
    <%= f.label :serialized %><br>
    <%= f.text_field :serialized %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
