<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rejex.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rejex.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @rejex.body %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @rejex.flag %>
</p>

<p>
  <strong>Flag2:</strong>
  <%= @rejex.flag2 %>
</p>

<p>
  <strong>Flag3:</strong>
  <%= @rejex.flag3 %>
</p>

<p>
  <strong>Flag4:</strong>
  <%= @rejex.flag4 %>
</p>

<p>
  <strong>Flag5:</strong>
  <%= @rejex.flag5 %>
</p>

<p>
  <strong>Flag6:</strong>
  <%= @rejex.flag6 %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @rejex.pattern %>
</p>

<p>
  <strong>Pattern2:</strong>
  <%= @rejex.pattern2 %>
</p>

<p>
  <strong>Substitute:</strong>
  <%= @rejex.substitute %>
</p>

<p>
  <strong>Return field:</strong>
  <%= @rejex.return_field %>
</p>

<p>
  <strong>Return field1:</strong>
  <%= @rejex.return_field1 %>
</p>

<p>
  <strong>Return field2:</strong>
  <%= @rejex.return_field2 %>
</p>

<p>
  <strong>Return field3:</strong>
  <%= @rejex.return_field3 %>
</p>

<p>
  <strong>Return field4:</strong>
  <%= @rejex.return_field4 %>
</p>

<p>
  <strong>Serialized:</strong>
  <%= @rejex.serialized %>
</p>

<%= link_to 'Edit', edit_rejex_path(@rejex) %> |
<%= link_to 'Back', rejexes_path %>
