<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @todo.desc %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @todo.eta %>
</p>

<p>
  <strong>Project:</strong>
  <%= @todo.project %>
</p>

<p>
  <strong>Department:</strong>
  <%= @todo.department %>
</p>

<p>
  <strong>Infrastructure:</strong>
  <%= @todo.infrastructure %>
</p>

<p>
  <strong>Operations:</strong>
  <%= @todo.operations %>
</p>

<p>
  <strong>Username:</strong>
  <%= @todo.username %>
</p>

<p>
  <strong>Team:</strong>
  <%= @todo.team %>
</p>

<p>
  <strong>Estimated manhours:</strong>
  <%= @todo.estimated_manhours %>
</p>

<p>
  <strong>Total manhours:</strong>
  <%= @todo.total_manhours %>
</p>

<p>
  <strong>Ratio actual manhours:</strong>
  <%= @todo.ratio_actual_manhours %>
</p>

<p>
  <strong>Details:</strong>
  <%= @todo.details %>
</p>

<p>
  <strong>Tasklist:</strong>
  <%= @todo.tasklist %>
</p>

<p>
  <strong>User:</strong>
  <%= @todo.user %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @todo.priority %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
