<%= form_for(@reputation) do |f| %>
  <% if @reputation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reputation.errors.count, "error") %> prohibited this reputation from being saved:</h2>

      <ul>
      <% @reputation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip_id %><br>
    <%= f.text_field :ip_id %>
  </div>
  <div class="field">
    <%= f.label :domain_id %><br>
    <%= f.text_field :domain_id %>
  </div>
  <div class="field">
    <%= f.label :confidence %><br>
    <%= f.text_field :confidence %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
