<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @issuelist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issuelist.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @issuelist.project %>
</p>

<p>
  <strong>Department:</strong>
  <%= @issuelist.department %>
</p>

<%= link_to 'Edit', edit_issuelist_path(@issuelist) %> |
<%= link_to 'Back', issuelists_path %>
