 <div class="row">
 <div class="span4">


<h1>Manage Machines</h1>
<p>Manage your servers and workstations. Install instances on your machines to monitor services. Click 'instances' to manage instances for an individual machine.</p>

 </div>

 <div class="span5">
<table class="table table-bordered table-condensed">
  <thead>
   <tr>
    <th><b>Your Combined Stats</b></th>
	<th>Day</th>
    <th>Week</th>

   </tr>
   </thead>



    <tbody>


  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td><i class="icon-retweet"></i> Total Traffic (mB)</td>
	<td><span class="badge badge-success">20134</span></td>
	<td><span class="badge badge-success">19482223</span></td>

	<tr>
	<td><i class="icon-ban-circle"></i> Bans</td>
	<td><span class="badge badge-error">6</span></td>
	<td><span class="badge badge-error">28</span></td>
	</tr>

 </tr>
 
  </tbody>
</table>
<br/>

<br/>

 </div>
 </div>

<div class="row">
 <div class="span4">


 </div>

 <div class="span5">



 



 

</div>

 </div> 

 


<div class="row">
 <div class="span9">

 <table class="table table-striped">
  <thead>
   <tr>
    <th>Name</th>
	<th>Hostname</th>
    <th>IP Addr</th>
	<th>Installed</th>
	<th>Last Seen</th>
	<th></th>
   </tr>
   </thead>



    <tbody>

<% @machines.each do |machine| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td><i class="icon-home"></i> <%= machine.name %> </td>
	<td><%= machine.hostname %></td>
	<td><%= machine.ip %></td>
	<td><%= machine.installed %></td>
	<td><%= machine.alive %></td>



    <td>
		<%= link_to 'Instances', instances_path(machine_id: machine.id), # {:controller => 'instances', 
			:action => 'index',  class: 'btn btn-primary' %>

	</td>
	
    <td>
		<%= link_to 'Show',  machine,  :class => 'btn btn-success' %>
	</td>
	
    <td>
		<%= link_to 'Edit',  edit_machine_path(machine),  :class => 'btn btn-warning' %>
	</td>
	

	
    <td>
		<%= button_to 'Destroy', machine, confirm: 'Are you sure?',
                    method: :delete ,  class: 'btn btn-danger'%>	</td>



 </tr>
  <% end %>
  </tbody>
</table>

				

        </div><!--/span-->
      </div><!--/row-->

<br />


<%= will_paginate @machines, :container => false %>

<br />

<%= link_to 'New Machine', {:action => 'new'},  :class => 'btn' %>


<%= link_to 'Console', console_path, :action => 'open', #   {:controller => 'console', :action => 'open'}, 
		 :class => 'btn' %>



<%= link_to 'Back', machines_path, # {:controller => 'machines', 
		:action => 'index',  :class => 'btn' %>



 <div class="row">
 <div class="span7 offset1">

<div id="terminal_container"></div>


<script type="text/javascript">
$('#terminal_container').height('250px');
$('#terminal_container').terminal('/console/terminal/', {custom_prompt : "[Esh]$ ", hello_message : 'Type help for a command listing.'});
</script>


        </div><!--/span-->
      </div><!--/row-->


