<p id="notice"><%= notice %></p>

<h1>Servers</h1>

<p>Showing your known Servers. Table headings are clickable sort functions </p>

<div class="table-responsive">
<table class="table table-striped">

  <thead>
    <tr>
      <th><%= sort_link(@search, :name, "ServerName") %></th>
      <th><%= sort_link(@search, :ip, "IPAddress") %></th>
      <th><%= sort_link(@search, :hostname, "HostName") %></th>
      <th><%= sort_link(@search, :type, "ServerType") %></th>
      <th>Virtual?</th>
      <th>Up?</th>
      <th>Criticality</th>
      <th>Network</th>
      <th>Manager</th>
      <th>Os</th>
      <th>Devops</th>
      <th><%= sort_link(@search, :name, "Uptime") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><%= server.ip %></td>
        <td><%= server.hostname %></td>
        <td><%= server.type %></td>
        <td><%= server.virtual? %></td>
        <td><%= server.up? %></td>
        <td><%= server.criticality %></td>
        <td><%= server.network_id %></td>
        <td><%= server.manager_id %></td>
        <td><%= server.os %></td>
        <td><%= server.devops_id %></td>
        <td><%= server.uptime %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @servers %>

<br>

<%= link_to 'New Server', new_server_path, :class => 'btn btn-danger btn-medium' %>
<li>
<h4>Search Servers By Name</h4>
<p>Search Servers By Name or Other Characteristics (TODO)</p>
<%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :hostname_cont, "HostName contains" %>
      <%= f.text_field :hostname_cont %>
    </div>
    <div class="actions btn btn-medium"><%= f.submit "Search" %></div>
<% end %>
</li>
  <li>
<h4>Search Servers By IP</h4>
<p>Do a Lookup Based on IP Address</p>
<%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :ip_cont, "IP contains" %>
      <%= f.text_field :ip_cont %>
    </div>
    <div class="actions btn btn-medium"><%= f.submit "Search" %></div>
<% end %>
  </li>