<h1>Add to Ban List for Instance <%=h @instance.gucid %></h1>

<p>
 <% if flash[:notice] %>
<p style="color: red;"><%= flash[:notice] %></p>
<% end %>
</p>

<% form_for(@ban, :url => {:action => 'create', 
		:machine_id => @machine.id, :instance_id => @instance.id}) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>

 <p>
    <%= f.submit "Add" %>
  </p>
<% end %>

<%= link_to 'Back', {:controller => 'bans', :action => 'manage', 
	:instance_id => @instance.id, :machine_id => @machine.id } %>
