

<div id="content">


<h1>Ban List Manager for <%=h @instance.human_name %></h1>



<table>
  <tr>
    <th>IP</th>
  </tr>

<% for ban in @bans %>
  <tr>
    <td><%=h ban.ip %></td>
    <td><%=h ban.duration %></td>
    <td><%=h ban.updated_at %></td>

    <td><%= link_to 'Edit', {:controller => 'bans', :action => 'edit', 
		:machine_id => @machine.id, :instance_id => @instance.id, 
		:id => ban.id} %></td>

    <td><%= link_to 'Destroy', {:controller => 'bans', :action => 'destroy',
		:machine_id => @machine.id, :instance_id => @instance.id, 
		:id => ban.id }, :confirm => 'Are you sure?',:method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Ban', {:action => 'add', :instance_id => @instance.id,
				:machine_id => @machine.id } %>
<p>
</p>

<%= link_to  'Show', {:controller => 'instances', :action => 'show', 
	:machine_id => @machine.id, :id => @instance.id } %> |
<%= link_to 'Back', {:controller => 'instances', :action => 'index', 
	:machine_id => @machine.id, :id => @instance.id} %>

		</div>
		<!-- content -->
