<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @queque.name %>
</p>

<p>
  <strong>Critlarm:</strong>
  <%= @queque.critlarm %>
</p>

<%= link_to 'Edit', edit_queque_path(@queque) %> |
<%= link_to 'Back', queques_path %>
