<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kimberlite3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>


  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag    'application', :media => "all" %><!-- 'bootstrap-responsive' -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">

        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
<a class="brand" href="/home"><%= image_tag "", :alt => "", :border=>"0" %> BareMetal Networks</a>
          <div class="nav-collapse">
            <ul class="nav">

				<% if  controller.class.to_s == 'HomeController' %>
				<li class="active"><a href="/home">Home</a></li>
				<% else %>
				<li><a href="/home">Home</a></li>
				<% end %>

				<% if  controller.class.to_s == 'ProductsController' %>
				<li class="active"><a href="/products">Products</a></li>
				<% else %>
				<li><a href="/products">Products</a></li>
				<% end %>

				<% if  controller.class.to_s == 'PricingController' %>
				<li class="active"><a href="/pricing">Pricing</a></li>
				<% else %>
				<li><a href="/pricing">Pricing</a></li>
				<% end %>

				<% if  controller.class.to_s == 'MachinesController' %>
				<li class="active"><a href="/machines">Manage</a></li>
				<% else %>
				<li><a href="/machines/">Manage</a></li>
				<% end %>

				<% if  controller.class.to_s == 'AboutController' %>
				<li class="active"><a href="/About">About</a></li>
				<% else %>
				<li><a href="/About">About</a></li>
				<% end %>

				<% if  controller.class.to_s == 'ContactController' %>
				<li class="active"><a href="/Contact">Contact</a></li>
				<% else %>
				<li><a href="/Contact">Contact</a></li>
				<% end %>


				<% if  controller.class.to_s == 'ProfileController' && action_name != 'login'%>
				<li class="active"><a href="/profile/">Profile</a></li>
				<% else %>
				<li><a href="/profile">Profile</a></li>
				<% end %>


			<% unless session[:user_id].nil? %>
				</ul>
		  		<p class="navbar-text pull-right"><a href="/profile/logout">Logout</a></p>

			<% else %>
				<% if  controller.class.to_s == 'UsersController' %>
				<li class="active"><a href="/profile/signup">Signup</a></li>
				<% else %>
				<li><a href="/profile/signup">Signup</a></li>
				<% end %>

				<% if action_name == 'login' && controller.class.to_s == 'ProfileController' %>
				<li class="active"><a href="/profile/login">Login</a></li>
				<% else %>
				<li><a href="/profile/login">Login</a></li>
				<% end %>

            </ul>

		<% end %>
          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

              <li class="nav-header"><h3>Navigation</h3></li>

			<% if session[:user_id].nil? %>
              <li class="nav-header">Emergence</li>
              <li><a href="/products/emergence/what/">What is is?</a></li>
              <li><a href="/products/emergence/how/">How it works?</a></li>
              <li><a href="/products/emergence/you/">Is it for you?</a></li>
              <li><a href="/pricing/emergence/">Pricing</a></li>

			<% else %>
              <li class="nav-header">Machines</li>
				<% if  controller.class.to_s == 'MachinesController' %>
				<li class="active"><a href="/machines">Manage</a></li>
				<% else %>
				<li><a href="/machines">Manage</a></li>
				<% end %>

              <li class="nav-header">Instances</li>

              <li class="nav-header">User</li>
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/profile/logout">Logout</a></li>
			<% end %>

            </ul>
          </div><!--/.well -->
        </div><!--/span-->



       <div class="span9">
 
    <% flash.each do |key, value| %>
        <div class="alert alert-block alert-<%= key == :notice ? "success" : key %>" data-dismiss="alert">
          <a class="close">×</a>
          <h4 class="alert-heading"><%= key.capitalize %>:</h4>
          <%= value %>
        </div>
    <% end %>

	<%= yield %>



					</div>

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <center><p>&copy; BareMetal Networks 2012</p></center>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
<!--    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>

    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>

    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script> -->

  </body>
</html>
