<%= form_for(@queque) do |f| %>
  <% if @queque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@queque.errors.count, "error") %> prohibited this queque from being saved:</h2>

      <ul>
      <% @queque.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :critlarm_id %><br>
    <%= f.text_field :critlarm_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
