<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pubserver.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @pubserver.ip %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @pubserver.hostname %>
</p>

<p>
  <strong>Os:</strong>
  <%= @pubserver.os %>
</p>

<p>
  <strong>Dns:</strong>
  <%= @pubserver.dns %>
</p>

<p>
  <strong>Whois:</strong>
  <%= @pubserver.whois %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @pubserver.organization %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @pubserver.organization %>
</p>

<p>
  <strong>Reputation:</strong>
  <%= @pubserver.reputation %>
</p>

<p>
  <strong>Url:</strong>
  <%= @pubserver.url %>
</p>

<p>
  <strong>Applications:</strong>
  <%= @pubserver.applications %>
</p>

<p>
  <strong>Application:</strong>
  <%= @pubserver.application %>
</p>

<p>
  <strong>Service:</strong>
  <%= @pubserver.service %>
</p>

<p>
  <strong>App version:</strong>
  <%= @pubserver.app_version %>
</p>

<p>
  <strong>Webserver:</strong>
  <%= @pubserver.webserver %>
</p>

<p>
  <strong>Webserver:</strong>
  <%= @pubserver.webserver %>
</p>

<p>
  <strong>Webserver version:</strong>
  <%= @pubserver.webserver_version %>
</p>

<%= link_to 'Edit', edit_pubserver_path(@pubserver) %> |
<%= link_to 'Back', pubservers_path %>
