<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @search.field %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @search.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @search.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @search.field4 %>
</p>

<p>
  <strong>Field5:</strong>
  <%= @search.field5 %>
</p>

<p>
  <strong>Field6:</strong>
  <%= @search.field6 %>
</p>

<p>
  <strong>Field7:</strong>
  <%= @search.field7 %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
